@model IEnumerable<MSCorp.AdventureWorks.Core.Domain.ProductCategorySet>
@section HomePageHeader {
    @Html.Partial("_SecondaryHeader")
}
<div class="row" >
    <div class="col-md-6">
        <h2>Admin</h2>
        <div>
            <a href="~/DemoSetup">Setup data</a>
        </div>
        <div>
            <a href="~/Load">Generate SQL load</a>
        </div>
        <br/>
        <h2>Products</h2>
        <div>
            @Html.ActionLink("Manage discounts", "Discount", "Product")
        </div>
        <div>
            <table class="table">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Category)
                    </th>
                    <th></th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Category)
                        </td>
                        <td>
                            @Html.ActionLink("View", "View", new { id = item.Category }) |
                            @Html.ActionLink("Delete", "Delete", new { id = item.Category })
                        </td>
                    </tr>
                }
            </table>
        </div>
    </div>
</div>