<!DOCTYPE html>
<html lang="en" ng-app="mainPageApp">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>@ViewBag.Title - Adventure Works</title>
    @Styles.Render("~/Content/css")
    <link href="~/Content/MyFontsWebfontsKit.css" rel="stylesheet" />
    <script language="javascript">
        // wire up root so that scripts know where to call methods
        var rootUrl = '@Url.Content("~/")';
    </script>
    @Scripts.Render("~/Scripts/uisearch.js")
    @RenderSection("header", required: false)
</head>
    <body ng-controller="MainPageViewModel" ng-cloak>
        <script type="text/ng-template" id="searchTemplate.html">
            <a tabindex="-1">
                <div ng-bind-html="match.model.text | typeaheadHighlight:query"></div>
                <div ng-bind-html="match.model.productCode | typeaheadHighlight:query"></div>
                <div ng-bind-html="match.model.comment | typeaheadHighlight:query"></div>
            </a>
        </script>

        <div id="sb-site" class="@ViewBag.PageClass">
            @RenderSection("HomePageHeader", required: true)
            <div class="row body-content">
                <div class="container">
                    <div class="page-wrap">
                        @RenderBody()
                    </div>
                    <footer class="site-footer">
                        <div class="bg-footer">
                            <ul class="list-group hidden-xs">
                                <li class="list-group-item footer-list-item">
                                    <small>&copy; Adventureworks.com Ltd. All rights reserved.</small>
                                </li>
                                <li class="list-group-item footer-list-item">Contact Us</li>
                                <li class="list-group-item footer-list-item">Terms & Conditions</li>
                                <li class="list-group-item footer-list-item">Delivery & Returns</li>
                                <li class="list-group-item footer-list-item">Stay tuned</li>
                            </ul>
                            <div class="visible-xs">
                                <small>&copy; Adventureworks.com Ltd. All rights reserved.</small>
                            </div>
                        </div>
                    </footer>
                </div>
            </div>
        </div>
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @Scripts.Render("~/bundles/modernizr")
        @Scripts.Render("~/bundles/angular")
        @Scripts.Render("~/js/mainpage.js")
        @Scripts.Render("~/js/classie.js")
        @Scripts.Render("~/js/uisearch.js")
        @Scripts.Render("~/bundles/rateit")
        @RenderSection("scripts", required: false)
        @* Call just after the core scripts in the top level layout *@
        @Html.RenderScripts()
    </body>
</html>
